/* variables */
:root {
    /* == color palette == */
    --color-primary: #3b82f6;
    --color-primary-hover: #2563eb;
    --color-primary-dark: #111827;
    --color-primary-neon: #60a5fa;

    /* == backgrounds == */
    --bg-body: #121212; /* bg */
    --bg-surface: #1E1E1E; /* container */
    --bg-element: #27272a; /* input */
    --bg-element-hover: #3f3f46;

    /* == typography == */
    --text-main: #f0f0f0;/* title */
    --text-muted: #a1a1aa; /* placeholder, meta */

    /* == borders == */
    --border-color: #3f3f46; /* general */
    --border-highlight: rgba(255, 255, 255, 0.1); /* card borders (strong) */

    /* == states == */
    --shadow-strong: 0 20px 50px rgba(0, 0, 0, 0.7);
    --radius-md: 8px;
    --radius-lg: 16px;

    --error-color: #ea2e08;
    --warn-color: #eab308;
    --tip-color: #fbbf24;
    --success-color: #067600;
}

/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-body);
    color: var(--text-main);
    line-height: 1.5;

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* x center */
    justify-content: center;
    /* y center */

    min-height: 100vh;
    padding: 20px;
    gap: 40px;
    /* padding for footer */
}

.app-container {
    width: 100%;
    max-width: 600px;
    background-color: var(--bg-surface);
    border: 1px solid var(--border-highlight);
    border-radius: var(--radius-lg);
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
    color: var(--text-main);
    margin-bottom: 0.5em;
}

p {
    color: var(--text-muted);
    margin-bottom: 1em;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: var(--color-primary-hover);
}

.brand-header {
    text-align: center;
    margin-bottom: 30px;
}

.brand-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--color-primary);
    letter-spacing: -1px;
}

.brand-slogan {
    color: var(--text-muted);
    font-style: italic;
    font-size: 0.9rem;
    font-weight: 500;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: 6rem;
    padding-bottom: 40px;
    color: #52525b;
    font-size: 0.75rem;
    line-height: 1.6;
}

footer a {
    text-decoration: none;
    transition: color 0.2s;
}

.link-inline {
    color: #71717a;
    font-weight: 500;
}

.link-inline:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.footer-nav {
    margin-top: 15px;
    margin-bottom: 20px;
}

.footer-nav a {
    color: #71717a;
    margin: 0 5px;
}

.footer-nav a:hover {
    color: var(--text-main);
}

.footer-nav span {
    color: #3f3f46;
}

.footer-badges {
    opacity: 0.7;
}

.footer-badges:hover{
    opacity: 1;
}

.footer-badges img {
    vertical-align: middle;
}

button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    background-color: #666;
}

button:disabled:hover {
    background-color: #666;
}

.tooltip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    color: #bbb;
    font-size: 11px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 8px;
    cursor: help;
    position: relative;
    transition: all 0.2s;
    user-select: none;
    z-index: 50;
}

.tooltip:hover,
.tooltip:focus {
    background-color: var(--color-primary);
    color: white;
    outline: none;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 140%;
    left: 50%;
    transform: translateX(-50%);

    width: max-content;
    max-width: 220px;
    white-space: normal;

    background-color: #111;
    color: #eee;
    text-align: center;
    padding: 10px 14px;
    border-radius: 6px;
    font-size: 0.75rem;
    line-height: 1.4;
    font-weight: normal;
    border: 1px solid #333;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 9999;
}

.tooltip::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #111 transparent transparent transparent;

    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    z-index: 9999;
}

.tooltip:hover::after,
.tooltip:hover::before,
.tooltip:focus::after,
.tooltip:focus::before {
    opacity: 1;
    visibility: visible;
    bottom: 130%;
}